.nav {
  margin: 0 0 30px;
  background-color: rgb(197, 31, 66); 
  overflow: hidden;
  text-shadow: 1px 1px rgb(77, 50, 50);
}

* {
  box-sizing: border-box;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left {
  width: 20%;
}

.middle {
  width: 45%;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
}

.right {
 float: right;
}

.nav-link {
  margin-top: 10px;
  color: #f2f2f2;
  background-color: rgb(197, 31, 66); 
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  text-shadow: 1px 1px rgb(77, 50, 50);
}

.nav-link:hover {
  background-color:rgb(148, 24, 51); 
}

